# 1. Your Pollar Testnet API Key (obtained from your Pollar dashboard)
NEXT_PUBLIC_POLLAR_API_KEY=pub_testnet_dab5e55591d77889fe4dedf369dd3c02

# 2. Your MongoDB Connection String (from MongoDB Atlas or your local MongoDB instance)
MONGODB_URI=mongodb+srv://Legendary:xytVb3c7R1fclxeK@cluster0.tvrztjg.mongodb.net/Trustgig

# 3. NextAuth Secret (used to encrypt user sessions securely)
AUTH_SECRET=DwJNlirkgg5kUCxbWYZy1G4Fy21X/De1scHCCxwR4FOdncq5cq9i8topyDg=

NEXT_PUBLIC_TRUSTLESS_WORK_API_KEY=hOVWCctV2Ih0IZBIl7QC0Q.b4aa20e0b39f2963a433886ccc8e2af83fa5b8e78a639599308ffbcc3c198a4b

# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=axfwjj1q
CLOUDINARY_API_KEY=913763842276854
CLOUDINARY_API_SECRET=U4Rd_YKdXnepeXc0s1isF9KXxog
